<!-- 전체 그리드 -->
<div class = "main"> 
  <div class="container maxmain">
    <div class="row">
      <div class="mainpage"> 
        <%= render partial: "navbar" %>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="page-header">마이페이지
      <a href="/user/edit"><img src ="/image/option.png" class="optionpng"></a>
    </h1>
    
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="panel panel-default panel-height panel-make" style="background-color: #FFB600; cursor:pointer;" type="button" data-toggle="modal" data-target="#addgroups">
          <img src="/image/plus_1.png" class="imghover" style="width: 70px; height: auto; margin-left: 37%; margin-top: 17%;">
          <p style="text-align: center; color: white; margin-top: 10px;">그룹을 추가해 주세요.</p>
        </div>
      </div>
      <% if @g %>
        <!--이거가 하나씩 -->
        <% @g.each do |g|%>
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default panel-height">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= g.gname %>
                <input type="hidden" name="user_id" value="<%= g.user.id%>">
              </h3>
            </div>
            <div class="panel-body">
                <a href="/moneyger/a1/<%= g.id%>">차감</a><br>
                <!--<a href="/moneyger/a2/<%= g.id%>">전체차감</a><br>-->
                그룹이름: <%=g.gname%><br>
                총무: <%=g.leader%> <br>
                계좌번호: <%=g.account_number%> <br>
                예치금: <%=g.total%><br>
              <a href="/moneyger/index/<%= g.id %>" class="btn btn-default btn-align">열기</a>
            </div>
          </div>
        </div>
        <%end%>
        <!-- 여기까지 -->
      <% else %>
      <% end %>

        
      </div>
  
    </div>
  </div>  
  
</div> <!-- main -->

<!-- 그룹추가 모달 -->
<div class="container">
  <div class="row">
    <div class="modal fade" id="addgroups" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- modal head -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">그룹 추가</h4>
          </div>
          <form action="/moneyger/test" type="POST">
            <!-- modal body 그룹 이름값 넣기 -->
            <div class="modal-body">
              <!-- 추가할 그룹 입력창 -->
              <div class="form-group">
                <label>그룹 이름</label>
                <input type="text" name="gname" class="form-control">
              </div>
              <div class="form-group">
                <label>총무</label>
                <input type="text" name="leader" class="form-control">
              </div>
              <div class="form-group">
                <label>계좌 번호</label>
                <input type="text" name="account_number" class="form-control">
              </div>
              <div class="form-group">
                <label>예치금</label>
                <input type="number" name="total" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <!-- 취소 버튼 -->
              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
              <!-- 저장 버튼 데이터 연결 -->
              <button type="submit" class="btn btn-primary">등록</button>
            </div><!-- END modal-footer -->
          </form>
        </div><!-- END modal-content -->
      </div><!-- END modal-dialog -->
    </div><!-- END modal-fade -->
  </div><!-- END modal-row -->
</div><!-- END modal-container -->