<!-- 전체 그리드 -->
<div class = "main"> 
  <div class="container maxmain">
    <div class="row">
      <div class="mainpage"> 
        <%= render partial: "navbar" %>
      </div>
    </div>
  </div>
  <!-- Main -->
  <div class="container" style="background-color: #f9f9f9; box-shadow: 1px 1px 5px 3px #ddd;">
  <!--돈관리 부분 -->
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <!-- 그룹 이름 & 총무 계좌 --> 
        <!-- 그룹수정 버튼 -->
        <h1 class="groupname"><center><%= @group.gname %>&nbsp;
          <button type="button" class="btn-class" data-toggle="modal" data-target="#modifygroup">Edit</button>
        </h1></center>
        
        <!-- 테두리 박스 총무 계좌 -->
        <div class="col-md-6 .col-md-offset-3" style="margin-left: 25%;">
          <h5 class="leaderinfo"><center><strong>총무: <%= @group.leader %></strong>&nbsp; &nbsp;<img src="/image/woori.png" style="width: 30px; height: auto;"><%= @group.account_number %></center></h5>
        
          <!-- 개별 & 전체 버튼 -->
          <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 20px;">
            <button type="button" id="btn-whole" data-toggle="modal" data-target="#wholepeople">전체</button>&nbsp;&nbsp;
            <button type="button" id="btn-each" data-toggle="modal" data-target="#eachperson">개별</button>
          </div>
        
        </div>
      </div>
    </div><!-- END row -->
    
    <!-- 돈과 저금통 -->
    <div class="line">
      <div class="row" id="money">
        <!--전체 돈-->
          <div class="col-sm-6 col-md-6 total">
            <div class="row marginmd" id="wholemoney">
              <div class="col-sm-4 col-md-4">
                <img src="/image/teammoney.png" style="width: 100px; height: auto; margin-left: 40%;">
              </div>
              <div class="col-sm-8 col-md-8">
                <h4 style="padding-left: 10%;">전체돈<br><font size="8" class="ftweight">
                <% if @group.boards.all.empty? %>
                  <%= number_to_currency(@group.total, :unit => "", :precision => 0) %>
                <% else %>
                  <%= number_to_currency(@group.boards.last.remain, :unit => "", :precision => 0) %>
                <%end%>
                </font>원</h4>
              </div>
            </div>
          </div> <!-- END 전체돈 -->        
          
        <!-- 저금통 -->
          <div class="col-sm-6 col-md-6">
            <div class="row marginmd" id="moneypig">
              <div class="col-sm-4 col-md-4">
                <img src="/image/piggy.png" style="width: 100px; height: auto; margin-left: 20%;">
              </div>
              <div class="col-sm-8 col-md-8">
                <h4>저금통<br><font size="8" class="ftweight"><%= number_to_currency(@pig, :unit => "", :precision => 0) %></font>&nbsp;원</h4>
              </div>  
            </div>
          </div> <!-- END 저금통 -->
        </div>
      </div> <!-- END line -->

    <!-- 멤버별 그래프 -->
    <h4 style="margin-top: 5%; margin-left: 4%;"><img src="/image/coin.png" style="width: 20px; height: auto;">&nbsp;&nbsp;멤버별 금액 보유 현황</h4> 
    <!--멤버 추가 버튼 -->  
    <button type="button" class="btn-class-1" data-toggle="modal" data-target="#addmembers">멤버추가</button>
    
    <!-- 그래프 부분 -->  
    <div class="panel" style="margin-left: 4%; margin-right: 4%;">
      <div class="chart chartalign" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px;">
        <canvas id="gchart_current" width="630" height="400"></canvas>
      </div>
    </div>
    
    <!-- 사용내역 표 -->
    <h4 style="margin-top: 5%; margin-left: 4%;"><img src="/image/coin.png" style="width: 20px; height: auto;">&nbsp;&nbsp;사용 내역</h4>
    <div class="panel panel-default" style="margin-left: 4%; margin-right: 4%;">
       <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>언제?</th>
                  <th>누가?</th>
                  <th>어디에?</th>
                  <th>얼마나?</th>
                  <th>남은 돈은?</th>
                </tr>
              </thead>
              
              <tbody>
                <% @group.boards.reverse.each do |board|%>
                  <tr>
                    <td><%= board.date %></td>
                    <td> <% if board.board_type == 'ONLY' %>
                          <img src="/image/pigpig.png" style="width:22px; height:auto;">
                          <% if board.member %>
                            <%= board.member.tname %>
                          <% else %>
                            <span style="text-decoration: line-through;">삭제된 멤버</span>
                          <% end %>
                         <% else %>
                          팀원 전체
                        <% end %>
                    </td>
                    <td><%= board.content %></td>
                    <td><%= board.howmuch %></td>
                    <td><%= board.remain %></td>
                  </tr>
                <% end %>
                <tr>
                  <td colspan="3" style="text-align: center;">총합</td>
                  <td><%= @group.boards.sum(:howmuch).to_i %></td>
                  <td><%= @group.boards.last.remain %></td>
                </tr>  
              </tbody>
            </table>
        </div>
    </div>
    <!--END main -->

  </div><!-- end of container -->

<!-- 그룹 수정 모달 -->
  <div class="container">
    <div class="row">
      <div class="modal fade" id="modifygroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!-- modal head -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">그룹 편집</h4>
            </div>
            <!-- modal body 그룹 이름값 넣기 -->
          
              
              <form action="/moneyger/updatem/<%= @group.id %>" method="POST"><br>
              <div class="modal-body" style="padding-left: 10%; padding-right: 10%;">
              <div class="form-group">
                <label>팀이름</label>
                <input type="text" value="<%= @group.gname %>" name="new_gname" class="form-control" required>
              </div>  
              <div class="form-group">
                <label>총무</label>
                <input type="text" value="<%= @group.leader %>" name="new_leader" class="form-control" required>
                </div>
                <div class="form-group">
                <label>계좌번호</label>
               <input type="text" value="<%= @group.account_number %>" name="new_account_number" class="form-control" required>
                </div>
                <div class="form-group">
                <label>예치금</label>
                <input type="text" value="<%= @group.total %>" name="new_total" class="form-control" required>
                </div>
             
            </div>
            
              <!-- 취소 버튼 -->
              <button type="button" class="btn btn-cancel" data-dismiss="modal">취소</button>
              <!-- 저장 버튼 데이터 연결 -->
              <button type="submit" class="btn btn-save">저장하기</button>
            
            </form>
          </div><!-- END modal-content -->
        </div><!-- END modal-dialog -->
      </div><!-- END modal-fade -->
    </div><!-- END modal-row -->
  </div><!-- END modal-container -->



  
  <!-- 멤버추가 모달 -->
  <div class="container">
    <div class="row">
      <div class="modal fade" id="addmembers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!-- modal head -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">멤버 편집</h4>
            </div>
            <!-- modal body 그룹 이름값 넣기 -->
            <form action="/moneyger/mymember" type="POST">
            <div class="modal-body" style="padding-left: 10%; padding-right: 10%;">
              팀원: <% @group.members.each do |m|%>
                    <p id="teammember">
                      <a href="/moneyger/delete_member/<%= m.id %>">
                      <img src="/image/delete.png" class="memberdlt"></a><%= m.tname %> 
                    </p>
                    <%end%>
                 
                <input type="hidden" name="g_id" value="<%= @group.id%>">
              <div class="form-group">
                <label>팀원이름</label>
                <input type="text" name="tname" class="form-control" required>
              </div>  
            </div>
            
              <!-- 취소 버튼 -->
              <button type="button" class="btn btn-cancel" data-dismiss="modal">취소</button>
              <!-- 저장 버튼 데이터 연결 -->
              <button type="submit" class="btn btn-save">저장하기</button>
            
            </form>
          </div><!-- END modal-content -->
        </div><!-- END modal-dialog -->
      </div><!-- END modal-fade -->
    </div><!-- END modal-row -->
  </div><!-- END modal-container -->
  
  <!-- 개별 차감 모달 -->
  <div class="container">
    <div class="row">
      <div class="modal fade" id="eachperson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">개별 변동</h4>
            </div><!-- modal-header -->
           
            <form action="/moneyger/board" type="POST">
              <div class="modal-body" style="padding-left: 10%; padding-right: 10%;">    
                <input type="hidden" name="gg_id" value="<%= @group.id %>">
                <input type="hidden" name="board_type" value="ONLY">
                <div class="form-group">
                  <label>언제</label>
                  <input type="text" name="date" class="form-control datepicker" required>
                </div>
                <div class="form-group">
                  <label>누가</label>
                  <select name="member" class="form-control">
                    <% @group.members.each do |member| %>
                      <option value="<%= member.id %>"><%= member.tname %></option>
                    <% end %>
                  </select>
                </div>
                <div class="form-group">
                  <label>어디에</label>
                  <input type="text" name="content" class="form-control">
                </div>
                <div class="form-group">
                  <label>얼마나</label>
                  <input type="text" name="howmuch" class="form-control" required>
                </div>
              </div>
              
                <button type="button" class="btn btn-cancel" data-dismiss="modal">취소</button>
                <button type="submit" class="btn btn-save">변경</button>
              
            </form>
          </div><!-- END modal-content -->
        </div><!-- END modal-dialog -->
      </div><!-- END modal-fade -->
    </div><!-- END modal-row -->
  </div><!-- END modal-container -->
  
  <!-- 전체 차감 모달 -->
  <div class="container">
    <div class="row">
      <div class="modal fade" id="wholepeople" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">전체 변동</h4>
            </div><!-- /modal-header -->
            <div class="modal-body" style="padding-left: 10%; padding-right: 10%;">
              
              <%= form_tag("/moneyger/board", method: "POST") do %>
        
              <!--<form action="/moneyger/board" type="POST">-->
              <div class="modal-body">    
               <input type="hidden" name="gg_id" value="<%= @group.id %>">
               <input type="hidden" name="board_type" value="Group">
                  <div class="form-group">
                  <label>언제</label>
                  <input type="text" name="date" class="form-control datepicker">
                </div>
     
                <div class="form-group">
                  <label>어디에</label>
                  <input type="text" name="content" class="form-control">
                </div>
                <div class="form-group">
                  <label>얼마나</label>
                  <input type="text" name="howmuch" class="form-control" required>
                </div>
              </div>
             
                <button type="button" class="btn btn-cancel" data-dismiss="modal">취소</button>
                <!--<button type="submit" class="btn btn-save"></button>-->
                <%= submit_tag "변경" ,class:"btn btn-save"%>
             <%end%>
            <!--</form>-->
          </div><!-- END modal-content -->
        </div><!-- END modal-dialog -->
      </div><!-- END modal-fade -->
    </div><!-- END modal-row -->
  </div><!-- END modal-container -->
</div>



<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>

<!-- 차트 데이터 -->
<script>
$(document).ready(function() {
  /**
   * Number.prototype.format(n, x)
   * 
   * @param integer n: length of decimal
   * @param integer x: length of sections
   */
  Number.prototype.format = function(n, x) {
      var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
      return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
  };
  
  if(<%= @group.members.length %>) {
    var ctx_current = $('#gchart_current').get(0).getContext("2d");
    
    var data_current = {
      labels: [<% @current.each do |key, value|%>"<%= key %>",<% end %>],
      datasets: [
          {
              label: "<%= @group.gname %>",
              fillColor: "rgba(255,182,0,1)",
              strokeColor: "rgba(255,182,0,0.1)",
              highlightFill: "rgba(255,182,0,0.5)",
              highlightStroke: "rgba(255,182,0,0.5)",
              data: [<% @current.each do |key, value|%>"<%= value %>",<% end %>]
          }
        ]
    };
    
    var currentChart = new Chart(ctx_current).RoundedBar(data_current, {
      scaleLabel : "<%%= Number(value).format() + ' 원' %>",
      scaleBeginAtZero: true,
    	scaleIntegersOnly: true,
    	scaleFontSize: 20,
    	animationSteps: 70,
      barStrokeWidth: 0,
      barValueSpacing : 20,
      scaleShowVerticalLines: false,
      scaleShowHorizontalLines: false,
      barShowStroke : false,
    });
    
  }
  
  $(".datepicker").datepicker();
  $('select').select2({
    width: 300
  });
  
  
});
</script>